
.headerContainer
{
    /* border: 1px solid red; */
    height: 3vmax;
    display: flex;
    align-items: center;
    font-size: 2vmax;
    color: #6456ab;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
   
}

.headerContainer > p{
    margin-left: 2vmax;
}


.contentContainer
{
    display: flex;
    /* border: 1px solid red; */
}
.yogaContainer{
    /* background: black; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.formCont
{
    width:50%;
    /* border: 1px solid red; */
}

.yogaPic
{
  width: 33vmax;
  height:33vmax;
}

@media screen and (max-width: 500px)
{
      .homeWrapper{
        padding: 1vmax;
      }
    
      .yogaContainer{
         display: none;

      }
      .formCont{
        width: 100%;
      }
      .headerContainer{
         height: 6vmax;
         font-size: 4vmax;
      }
}